@using QuanLySinhVien.Models
@model IEnumerable<QuanLySinhVien.Models.ExerciseContent>
@{
    ViewData["Title"] = "ViewExerciseContent";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

    List<UploadAssignment> IsUploadAssignment = ViewBag.UploadAssignment;
}

@*   dropzone*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/min/dropzone.min.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">khóa học</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bài tập thực hành</li>
    </ol>
</nav>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <hr />

        <h2> <a href="/chi-tiet-thuc-hanh/@item.Alias-@item.Id">@item.Title</a></h2>

          
        <h3>
            @item.Description
        </h3>
   
        <span>Ngày bắt đầu: @item.StartDate - Ngày kết thúc: @item.EndDate</span>
            <br />
           
            @foreach (var item_UploadAssignment in IsUploadAssignment)
            {
               
            if (item_UploadAssignment.ExerciseContentId == item.Id && item_UploadAssignment.Mssv.Equals(ViewBag.GetIdAccount))
                {

               

                <div><div style="color:red">Đã nộp bài tập</div>Ngày nộp: @item_UploadAssignment.UpdateDay || <a href="~/uploads/UploadAssignment/@item_UploadAssignment.DataName">@item_UploadAssignment.DataName</a></div>

                }

            }
            <br />
            @*         <span><a href="/UploadAssignment/UploadAssignment/@item.Id">Nộp bài hoặc thay đổi bài nội</a></span>
    *@
            <form action="/UploadAssignment/UploadAssignment/@item.Id" class="dropzone" id="my-dropzone"></form>


            <hr />

        }
    }

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/min/dropzone.min.js"></script>
    <script>
        Dropzone.options.myDropzone = {
            init: function () {
                this.on("complete", function (file) {
                    console.log(file.name + " uploaded");
                });
            },
            sending: function (file, xhr, formData) {
                formData.append("additionalData", "Additional data goes here");
            }
        };
    </script>


}

