@model IEnumerable<QuanLySinhVien.Models.ExerciseContent>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLecturers.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">khóa học</a></li>
        <li class="breadcrumb-item"><a href="#">Thực hành</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nội dung thực hành</li>
    </ol>
</nav>

<p>
    <a class="btn btn-outline-primary" asp-action="Create" asp-controller="ExerciseContentLecturers">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tiêu đề</th>
                <th>Vị trí</th>
          
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Action</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr id="trow_@item.Id">
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>

                        <td>
                            <a class="btn btn-outline-danger btnDelete" data-id="@item.Id">Delete</a>
                        </td>


                        <td>
                           @*  <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> *@

                            <a asp-action="Student_Submit" asp-route-id="@item.Id">Xem thành viên đã nộp bài</a>


@*                             <a class="btn btn-danger btnDelete" data-id="@item.Id" href="#">Delete</a>
 *@                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Rỗng</td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');

                var conf = confirm("ban muoon xoa chua");

                if (conf == true) {

                    $.ajax({

                        url: '/ExerciseContentLecturers/Delete',
                        type: 'post',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {

                                $('trow_' + id).remove();

                                location.reload();

                            }
                        }

                    });

                }
            });
        });
    </script>


}


