@model IEnumerable<QuanLySinhVien.Models.UploadAssignment>
@{
    ViewData["Title"] = "Student_Submit";
    Layout = "~/Views/Shared/_LayoutLecturers.cshtml";
}


<h1>bài nộp thực hành của sinh viên</h1>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mã số sinh viên</th>
                <th>Tên</th>
                <th>Tài liệu</th>

                <th>Ngày nộp</th>

                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr id="trow_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Mssv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDay)
                        </td>


                        <td>
                             <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                           @*  <a asp-action="Student_Submit" asp-route-id="@item.Id">Xem thành viên đã nộp bài</a> *@


                            @*                             <a class="btn btn-danger btnDelete" data-id="@item.Id" href="#">Delete</a>
                    *@
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Rỗng</td>
                </tr>
            }

        </tbody>
    </table>
</div>

