@model QuanLySinhVien.Models.Course
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tạo khóa học</h1>
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Article" class="nav-link">Tin tức</a>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Article/Create" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thêm mới</h3>


        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
              <form asp-action="Create" asp-controller="Course" method="post" enctype="multipart/form-data">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin</a></li>
                               @* <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>*@
                                
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activity">
                                   
                                     <div class="col-md-10">
                                        <label for="exampleInputEmail1">Khoa </label>
                                        @*<input type="text" name="title" class="form-control" placeholder="Nhập">*@
                                        @Html.DropDownListFor(x => x.DepartmentId,  ViewBag.department as SelectList, "Chọn khoa học", new { @class = "form-control", @placeholder = "tên " })
                                        @Html.ValidationMessageFor(x => x.DepartmentId, null, new { @class = "text-danger" })
                                    </div>

                                     <div class="col-md-10">
                                        <label for="exampleInputEmail1">Học kỳ </label>
                                        @*<input type="text" name="title" class="form-control" placeholder="Nhập">*@
                                        @Html.DropDownListFor(x => x.SemesterCourseId,  ViewBag.semester as SelectList, "Chọn khoa học", new { @class = "form-control", @placeholder = "tên " })
                                        @Html.ValidationMessageFor(x => x.SemesterCourseId, null, new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="AccountId" class="control-label"></label>
                                        <select asp-for="AccountId" class="form-control" asp-items="ViewBag.Account"></select>
                                        <span asp-validation-for="AccountId" class="text-danger"></span>
                                    </div>

                     <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                     <div class="form-group">
                        @Html.LabelFor(model => model.DateStart, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="date" asp-for="DateStart" class="form-control" />
                            @Html.ValidationMessageFor(model => model.DateStart, "", new { @class = "text-danger" })
                        </div>
                    </div>

                        <div class="form-group">
                        @Html.LabelFor(model => model.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="date" asp-for="DateEnd" class="form-control" />
                            @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
                        </div>
                    </div>

                     <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>



                     

                                   

                                </div>
                    
                               
                            </div>

                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                        <div class="form-group">
                            <input type="submit" value="Add" />
                        </div>
                    </div>

                </form>

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </div>

        </div>
        <!-- /.card-body -->
        <!-- /.card-footer-->
    </div>

    <!-- /.card -->

</section>
<!-- /.content -->



@section scripts{

  


   

}



